<!DOCTYPE html>
<html lang="en">
<head>
    <!--  Document set to universal character set-->
    <meta charset="UTF-8">

    <!-- sets width of webpage to device (Helps to scale universally across devices)-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Crawler Blog</title>
    <!-- link css file-->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <nav>
        <!--  link to home page and about page -->
        <a href="/">Home</a>
    </nav>
    <h1>About</h1>
    <p>Some say he was bitten by a spider from antartica! A new hero who has been swinging around New York, and only appeared a month ago.
        How do you feel about this man of spider? Whether you like him or hate him, make sure to post anything and everything you know about
        The Crawler!!!
    </p>
</body>
</html>
